- require('./block.contest.star.styl')

.cckhl-contest-star
    .cckhl-contest-star__container
        .cckhl-contest-star__fans
            a.grid__col(href="", ng-repeat="starVideo in contestStarCtrl.starVideoList", ng-click="contestStarCtrl.openPopup(starVideo)")
                .cckhl-contest-star__fans-image(
                    ng-style="{'background-image': 'url(' + starVideo.image_link + ')'}"
                )
        //- a.cckhl-contest-star__more(href="", ng-click="contestStarCtrl.loadMore()")
        //-     img(src=require("./images/icons/refresh.png"))
        //-     span Загрузить еще

    .cckhl-popup(ng-class="{'cckhl-popup--opened': contestStarCtrl.currentStarVideo}")
        .cckhl-popup__overlay(ng-click="contestStarCtrl.closePopup()")
        .cckhl-popup__content
            //- a.cckhl-popup__close(href="", ng-click="contestStarCtrl.closePopup()")
            //-     span.icon-close
            .cckhl-popup__video
                iframe(ng-if="contestStarCtrl.currentStarVideo", width='560', height='315', ng-src='{{ contestStarCtrl.currentStarVideo.video_link }}', frameborder='0', allowfullscreen='')
