@require '../_common/styles/global'
@require '../_common/styles/colors'
@require '../_common/styles/screen'


.cckhl-contest-star

    &__container
        container()
        padding 50px 40px

    &__fans
        grid(3, 50px)
        margin-top: 50px

        @media tablet-and-down
            grid(2, 50px)

        @media mobile-l-and-down
            grid(1, 50px)

    &__fans-image
        width 100%
        height 200px
        background-size: cover;
        box-shadow: 0 5px 3px -3px alpha(palette("primary"), .3)
        position: relative;

        &:after
            content ''
            position: absolute;
            left 50%
            top 50%
            transform translate3d(-50%, -50%, 0)
            width 90px
            height 90px
            background-image: url('./images/icons/play.png')
            background-size: 100%;



    &__more
        width 150px
        height: 150px
        background-color: #ffffff;
        border: solid 1px alpha(palette("primary"), .7);
        border-radius 150px
        display: block;
        text-align: center;
        margin: 0 auto
        margin-top 50px
        transition: all .3s ease

        img
            display: inline-block;
            margin-top 35px

        span
            display: block;
            font-family: DINPro;
            font-size: 16px;
            color palette("primary")
            text-transform: uppercase;
            max-width: 90px;
            margin: 0 auto;
            margin-top 10px

        &:hover
            border-color: palette("primary")


.cckhl-popup
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    opacity 0
    z-index -1
    transition opacity .5s ease-in-out
    overflow auto
    padding 40px 0
    box-sizing border-box

    @media laptop-and-down
        padding 0

    &__overlay
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        background-color rgba(0, 0, 0, .7)
        z-index 0

    &--opened
        z-index 10000
        opacity 1

    &__content
        position relative
        margin 0 auto
        z-index 1
        background-color white
        // min-height "calc(100vh - %s)" % (80px)
        max-width 960px
        width 100%

        @media laptop-and-down
            max-width none

    &__video
        position: relative
        padding-bottom: 56.25%
        // padding-top: 50px
        height: 100%
        box-sizing: border-box;

        iframe
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
