- require('./block.footer.styl')

.cckhl-footer
    .cckhl-footer__container
        .cckhl-footer__copyright © 2016 The Coca-Cola Company. Все права защищены
        ul.cckhl-footer__menu
            li
                a(href=require('../../assets/docs/rules_cocacola_stage_emotions.pdf'), target="_blank") Правила акции «Эмоции трибун»
            li
                a(href=require('../../assets/docs/rules_cocacola_game_star.pdf'), target="_blank") Правила конкурса «Звезда матча»
            li ООО «Спорт Эффектив Коммуникейшнс», тел: +7 495 785 1707
