@require '../_common/styles/global'
@require '../_common/styles/colors'

.cckhl-footer
    background-color: #080b19
    padding: 60px 0
    box-sizing: border-box;

    &__container
        width 100%
        max-width: 1260px
        margin 0 auto
        padding 0 40px
        box-sizing: border-box;

    &__copyright
        font-family: DINPro;
        font-size: 12px;
        font-weight: 500
        color white
        text-transform: uppercase;

    &__menu
        margin 0
        margin-top 20px
        padding 0

        li
            font-family: DINPro;
            font-size: 12px;
            font-weight: 500
            color white
            text-transform: uppercase;
            a
                font-family: DINPro;
                font-size: 12px;
                font-weight: 500
                color white
                text-transform: uppercase;
                transition: color .3s ease

                &:hover
                    color palette('primary')
