doctype html
html(lang="ru", ng-app= htmlWebpackPlugin.options.appName, ng-strict-di, ng-class="::ieClass")

    head
      title #гделедтамкокакола
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,minimal-ui')
      meta(name='description', content='Сделай селфи на ледовой арене с Coca-Cola')
      meta(name='keywords', content='КХЛ,Coca-Cola,хоккей,гделедтамкокакола,живихоккеем')
      meta(property='og:title', content='#гделедтамкокакола')
      meta(property='og:description', content='Сделай селфи на ледовой арене с Coca-Cola')
      meta(property='og:url', content='http://khl.coca-cola.ru')
      meta(property='og:type', content='website')
      meta(property='og:image', content=require('./pages/main/images/cover-1.jpg'))
      meta(property='fb:app_id', content='1633095936980676')

      meta(name='fragment', content='!')
      base(href='/')

      link(rel='icon', href=require('./favicon.png'), type="image/png")
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
      script(src="polyfill.js")

    body(ng-class="{'cckhl--modal': $root.isModal}")
      .view(ui-view)      
      script.
          window.prerenderReady = false
