// .view
//     position absolute
//     left: 0;
//     top: 0;
//     width: 100%;

.view.ng-enter,
.view.ng-leave {
  transition:1s ease opacity;
}

.view.ng-enter {
  opacity: 0;
}

.view.ng-enter.ng-enter-active {
  opacity: 1;
}

.view.ng-leave {
  opacity: 1;
}

.view.ng-leave-active {
  opacity: 0;
}
