// dependencies
@import helpers

// global styles
*
    box-sizing border-box
body
    background-color: white
a
    text-decoration none
ul
    list-style none

// global classes
fontFace('DINPro', ('500' '700' '900') )
// fontFace( 'Formular', ('300' '400' '500' '700' '900') )
// fontFace( 'Formular', ('300italic' '400italic' '500italic' '700italic' '900italic') )

container()
    width 100%
    max-width: 780px
    margin 0 auto
    padding 0 40px
    box-sizing: border-box;

.cckhl--modal
    overflow: hidden

body {
    position: initial !important;
    top: initial !important;
    overflow: initial !important;
}
html {
    overflow: initial !important;
}
