// fonts
addFontFace($font-name, $weight, $style)
  $file-path = '../../assets/fonts/' + $font-name + '-' + $weight

  if $style == 'Italic'
    $file-path += $style

  $url-fallback = 'url("' + $file-path + '.eot")'
  $url  = 'url("' + $file-path + '.eot?#iefix") format("embedded-opentype"), '
  $url = $url + 'url("' + $file-path + '.woff") format("woff"), '
  $url = $url + 'url("' + $file-path + '.ttf") format("truetype"), '
  $url = $url + 'url("' + $file-path + '.svg#svg' + $font-name + '") format("svg")'

  @font-face
  	font-family $font-name
  	src unquote($url-fallback)
  	src unquote($url)
  	font-weight unquote($weight)
  	font-style unquote($style)

fontFace($family, $types)
  for i in (0..length($types) - 1)
    $type = $types[i]
    $typeWidth = split('Italic', $type)

    if length($typeWidth) == 1
      addFontFace($family, $typeWidth, Normal)
    else
      addFontFace($family, $typeWidth[0], Italic)

fontResponsive($media, $size)
    $vw = $media * 0.01
    @media max-width $media
        font-size ($size / $vw)vw

// grid
.grid
    display flex
    flex-wrap wrap
    width 100%

grid($part = 1, $marginX = 20px, $marginY = $marginX)
   @extend .grid
   > .grid__col
       $width = 100% / $part
       $lastMargin = $marginX / $part
       width 'calc(%s - %s + %s)' % ($width $marginX $lastMargin)
       &:nth-child(1n)
           margin $marginY $marginX 0 0
       for $i in (1..$part)
           &:nth-child({$i})
               margin-top 0
       &:nth-child({$part}n)
           margin-right 0


placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
