@require screen

.app
  for $name, $resolution in $screen
    &--visible-on-{$name}
    &--visible-on-{$name}-and-up
    &--visible-on-{$name}-and-down
      display none!important

    if $resolution.max
      &--visible-on-{$name}
        @media (min-width: $resolution.min) and (max-width: $resolution.max)
          display: block !important

      &--visible-on-{$name}-and-down
        @media (max-width: $resolution.max)
          display: block !important

      &--hidden-on-{$name}
        @media (min-width: $resolution.min) and (max-width: $resolution.max)
          display: none !important

      &--hidden-on-{$name}-and-down
        @media (max-width: $resolution.max)
          display: none !important
    else
      &--visible-on-{$name}
          @media (min-width: $resolution.min)
            display: block !important

      &--hidden-on-{$name}
          @media (min-width: $resolution.min)
            display: none !important
    &--visible-on-{$name}-and-up
      @media (min-width: $resolution.min)
        display: block !important

    &--hidden-on-{$name}-and-up
      @media (min-width: $resolution.min)
        display: none !important
