$screen = {
  ultra-mega-hd: 2500px,
  ultra-hd: 1600px,
  laptop-l: 1240px,
  laptop: 920px,
  tablet: 768px,
  mobile-l: 568px,
  mobile-s: 320px
}

$resolutionMax = null

for $name, $resolution in $screen
  if $resolutionMax
    $screen[$name] = {
      min: $resolution,
      max: $resolutionMax
    }
  else
    $screen[$name] = {
      min: $resolution
    }

  define($name + '-and-down', "(max-width " + $screen[$name]['min'] + ") !default")
  define($name + '-and-up', "(min-width " + ($screen[$name]['min'] + 1px) + ") !default")
  $resolutionMax = $resolution - 1px
