// @import '~ui-select/dist/select.css';
@require 'colors'

.ui-select-container
    position: relative;

    &.open
        .ui-select-match
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

.ui-select-match
    cursor: pointer;
    border: 1px solid #f2f2f2;
    border-radius: 27px;
    display: inline-block !important;
    width: 100%;
    background-color: transparent !important;
    outline: 0 !important;
    box-shadow: none !important;

.ui-select-toggle
    float left
    width 100%
    box-shadow none
    // background-color: palette("accent");
    color: black;
    font-family: DINPro;
    font-size: 20px;
    padding 17px 46px
    box-sizing: border-box;

  .caret
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &:before
        content '\f107'

.ui-select-dropdown
    top 55px
    position: absolute;
    border: 1px solid #f2f2f2;
    border-radius: 27px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: white;
    max-height: none
    overflow: hidden;
    width: 100%
    z-index: 2

.ui-select-search
    display: none

.ui-select-choices-row
    &.active
        .ui-select-choices-row-inner
            background-color palette("primary") !important
            color white

.ui-select-choices-row-inner
    font-family: DINPro;
    font-size: 20px;
    padding: 17px 46px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width 100%
    transition: background-color .4s ease

    &:hover
        background-color #f2f2f2 !important


.ui-select-container.open
    .ui-select-toggle
        .caret
            color palette("primary")
            &:before
                content '\f106'

.ui-select-offscreen
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
