@require '../_common/styles/global'
@require '../_common/styles/colors'
@require '../_common/styles/screen'

.cckhl-cover-main
    width 100%
    min-height 706px
    position: relative;

    &__logo
        position: absolute;
        left: "calc(50% - %s)" % 620px;
        top: 40px;
        width: 200px;
        text-align: center;
        transition: opacity .3s ease

        @media laptop-l-and-down
            display: none

        img
            width 100%

        hr
            margin 40px auto
            width 40px
            height 2px
            border-top: 2px solid #ccc;

        &-khl
            max-width: 150px

        &--hidden
            opacity 0

    &__background
        position: absolute;
        left 0
        top 0
        bottom 0
        right 0
        background-size cover

    &__container
        container()
        padding-top 146px
        padding-bottom 72px
        box-sizing: border-box;
        position: relative;

    &__title
        font-family: DINPro
        font-size 60px
        font-weight: 900
        color white
        text-transform: uppercase;

        span
            display: block
            position: relative;

            &:nth-child(2)
                display: inline-block
                &:before
                    content: '«'
                    position: absolute;
                    left: -45px;
                    top: 0;
                    margin-top: -5px;
                &:after
                    content: '»'
                    position: absolute;
                    right: -45px;
                    top: 0;
                    margin-top: -5px;

        @media laptop-and-down
            font-size 40px
            span
                &:nth-child(2)
                    &:before
                        left -30px
                    &:after
                        right -30px

        @media tablet-and-down
            font-size 28px
            span
                &:nth-child(2)
                    &:before
                        left -20px
                    &:after
                        right -20px
    &__icons
        margin 0
        padding 0
        margin-top 53px

        li
            display: inline-block;
            border-radius: 100%
            transition: background-color .4s ease
            line-height: 0
            &:not(:first-child)
                margin-left: 30px

            img
                width 82px
                height 82px
            @media mobile-l-and-down
                &:not(:first-child)
                    margin-left: 15px
                img
                    width 60px
                    height 60px
            @media mobile-s-and-down
                img
                    width 40px
                    height 40px

    &__icon
        &--current
            background-color: palette("primary")

    &__descriptions
        margin-top 25px
        position: relative
        max-width 400px
        height 70px

    &__description
        font-family: DINPro
        font-size 20px
        color white
        position: absolute;
        opacity 0
        transition: opacity .4s ease

        &--current
            opacity 1

    &__button
        padding: 13px 35px 15px 35px;
        border-radius: 25px;
        background-color: white
        color palette("primary")
        font-family: DINPro
        font-size 20px
        transition: all .3s ease
        display: inline-block;
        margin-top 67px

        &--margin
            margin-left: 20px

            @media mobile-l-and-down
                margin-left: 0
                margin-top: 20px

        @media mobile-l-and-down
            font-size 14px

        &:hover
            background-color: palette("primary")
            color white
