- require('./block.cover.main.styl')

.cckhl-cover-main
    .cckhl-cover-main__background(
        ng-style="{'background-image': 'url(' + coverMainCtrl.contestCoverImage + ')'}")
    .cckhl-cover-main__logo(ng-class="{'cckhl-cover-main__logo--hidden': coverMainCtrl.hideLogo}")
        img(src=require('./images/logo-cc--large.png'))
        hr
        img.cckhl-cover-main__logo-khl(src=require('./images/logo-khl--large.png'))
    .cckhl-cover-main__container
        .cckhl-cover-main__title
            span {{ coverMainCtrl.contestType }}
            span {{ coverMainCtrl.contestTitle }}

        ul.cckhl-cover-main__icons
            li(ng-repeat="slide in coverMainCtrl.slides", ng-class="{'cckhl-cover-main__icon--current': slide.current}")
                img(ng-src="{{ slide.icon }}")

        .cckhl-cover-main__descriptions
            .cckhl-cover-main__description(ng-repeat="slide in coverMainCtrl.slides", ng-class="{'cckhl-cover-main__description--current': slide.current}", ng-bind-html="slide.description")

        a.cckhl-cover-main__button(href="", ng-href="{{ coverMainCtrl.contestButton }}", du-smooth-scroll) {{ coverMainCtrl.contestButtonCaption }}
        a.cckhl-cover-main__button.cckhl-cover-main__button--margin(href="", ng-href="{{ coverMainCtrl.contestButtonRules }}", target="_blank") {{ coverMainCtrl.contestButtonRulesCaption }}
