@require '../_common/styles/global'
@require '../_common/styles/colors'
@require '../_common/styles/screen'

.cckhl-contact
    padding 50px 0
    box-sizing: border-box;
    &__container
        container()

    &__contest
        &:not(:first-child)
            margin-top 90px

    &__title
        font-family: DINPro;
        font-size: 40px;
        font-weight: 900;
        line-height: 1;
        color black

    &__address-list
        grid(2, 50px)
        margin-top 70px
        @media mobile-l-and-down
            grid(1, 50px)
    &__address-city,
    &__address-team
        font-family: DINPro;
        font-size: 27px;
        font-weight: 900;
        color black
        text-transform: uppercase;

    &__address-team
        color palette("primary")

    &__address-address
         font-family: DINPro;
         font-size: 20px;
         color: #080b19;
         margin-top 20px
