- require('./block.contact.styl')

.cckhl-contact
    .cckhl-contact__container
        .cckhl-contact__contest
            .cckhl-contact__title Адреса проведения<br>акции «Эмоции трибун»
            .cckhl-contact__address-list
                .grid__col(ng-repeat="emotionAddress in contactCtrl.emotionAdresses")
                    .cckhl-contact__address-city {{ emotionAddress.city }}
                    .cckhl-contact__address-team {{ emotionAddress.stadium }}
                    .cckhl-contact__address-address {{ emotionAddress.address }}

        .cckhl-contact__contest
            .cckhl-contact__title Адреса проведения<br>видеоконкурса «Звезда матча»
            .cckhl-contact__address-list
                .grid__col(ng-repeat="starAddress in contactCtrl.starAddresses")
                    .cckhl-contact__address-city {{ starAddress.city }}
                    .cckhl-contact__address-team {{ starAddress.stadium }}
                    .cckhl-contact__address-address {{ starAddress.address }}
