@require '../_common/styles/global'
@require '../_common/styles/colors'
@require '../_common/styles/screen'


.cckhl-navbar
    position absolute
    top 0
    left 0
    width 100%
    height 90px
    z-index 10000

    // &--opened
    //     z-index 10001
    //     transition opacity .4s ease, z-index 1s step-start

    &__background
        background-color black
        opacity 0
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        transition: opacity .3s ease

    &__container
        container()
        line-height: 90px
        height 90px
        position: relative;

    &__logo
        display inline-block
        opacity 0
        float: left;
        margin-left: -260px;
        transition: opacity .3s ease

        @media laptop-l-and-down
            display none

        @media tablet-and-down
            display inline-block
            opacity 1
            margin-left: 0;
            position: relative;
            z-index: 1;

    &__logo-cc
        display inline-block
        position relative
        width 132px
        height 48px
        backface-visibility hidden
        vertical-align: middle
        top -4px
        &:before
            content ''
            display block
            background no-repeat center
            background-size contain
            height 100%
            background-image url('../../assets/images/logo-cc.png')

    &__logo-khl
        display inline-block
        position relative
        width 50px
        height 54px
        backface-visibility hidden
        vertical-align: middle
        margin-left: 22px
        &:before
            content ''
            display block
            background no-repeat center
            background-size contain
            height 100%
            background-image url('../../assets/images/logo-khl.png')

    &__menu
        display flex
        margin 0
        padding 0

        li
            &:first-child
                text-align: left
                width: 100px;
            &:not(first-child)
                flex-grow 1
                text-align right
            a
                font-family 'DINPro'
                font-size 16px
                font-weight 700
                text-transform: uppercase;
                color white
                transition: color .3s ease

                &:hover
                    color palette('primary')
    &__menu-item--active
        a
            color palette('primary') !important
            transition: none !important
.cckhl-navbar--sticky
    position: fixed
    .cckhl-navbar__logo
        opacity 1

    .cckhl-navbar__background
        opacity: .7


.cckhl-navbar__collapse
  width: 30px;
  height: 25px;
  position: absolute;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  top 50%
  right 40px
  transform translateY(-50%)
  z-index 1
  &:hover
      opacity 1

  span
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 10px;
  }

  span:nth-child(3) {
    top: 20px;
  }

.cckhl-navbar__collapse--opened
  span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
  }

  span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
  }

.cckhl-navbar__dropdown-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color black
  opacity 0
  transition opacity .4s ease .2s
  visibility: hidden;

  &--opened
    opacity .7
    visibility: visible;

.cckhl-navbar__dropdown
  position absolute
  top 90px
  text-align left

  &--opened
    .cckhl-navbar__dropdown-menu
        li
            opacity 1
            transform translateX(0)


.cckhl-navbar__dropdown-menu
  margin-left 40px
  padding 0
  list-style: none;
  transition all .6s ease

  li
    padding: 10px 0
    transform translateX(50px)
    transition: all .4s ease
    opacity 0

    for $num in (1..10)
        &:nth-child({$num})
            transition-delay $num * 0.1s
    a
      font-family 'DINPro'
      font-size 16px
      font-weight 700
      text-transform: uppercase;
      color white
      vertical-align: middle;

      img
          margin-top: -2px;
