- require('./block.navbar.styl')

.cckhl-navbar(ng-class="{'cckhl-navbar--sticky': !navbarCtrl.isOnTop, 'cckhl-navbar--opened': $root.triggerMenuOpened}")
    .cckhl-navbar__background
    .cckhl-navbar__container
        .cckhl-navbar__logo
            .cckhl-navbar__logo-cc
            .cckhl-navbar__logo-khl
        
        ul.cckhl-navbar__menu.app--hidden-on-tablet-and-down
            li
                a(href="#top", du-smooth-scroll) #гделедтамкокакола
            li
                a(href="#star", du-smooth-scroll) звезда матча
            li
                a(href="#contact", du-smooth-scroll) контакты
            li

        a.cckhl-navbar__collapse.app--visible-on-tablet-and-down(href="", ng-click="$root.triggerMenuOpened = !$root.triggerMenuOpened", ng-class="{'cckhl-navbar__collapse--opened': $root.triggerMenuOpened}")
            span
            span
            span

    .cckhl-navbar__dropdown-overlay.app--visible-on-tablet-and-down(ng-click="$root.triggerMenuOpened=false", ng-class="{'cckhl-navbar__dropdown-overlay--opened': $root.triggerMenuOpened}")
    .cckhl-navbar__dropdown.app--visible-on-tablet-and-down(ng-class="{'cckhl-navbar__dropdown--opened': $root.triggerMenuOpened}")
        ul.cckhl-navbar__dropdown-menu
            li
                a(href="", ng-click="navbarCtrl.scrollTo('top')") #гделедтамкокакола
            li
                a(href="", ng-click="navbarCtrl.scrollTo('star')") звезда матча
            li
                a(href="", ng-click="navbarCtrl.scrollTo('contact')") контакты
