@require '../_common/styles/global'
@require '../_common/styles/colors'
@require '../_common/styles/screen'


.cckhl-contest-emotion

    &__container
        container()
        padding 50px 40px

    &__title
        font-family: DINPro;
        font-size: 40px;
        font-weight: 900
        color: #3d3d3d;
        text-align: center;

        @media mobile-l-and-down
            font-size: 28px;
        @media mobile-s-and-down
            font-size: 22px;


        span
            display block

            &:nth-child(2)
                color palette("primary")
                text-transform: uppercase;
    &__control
        grid(2, 90px)
        padding 0 40px
        box-sizing: border-box;
        margin-top 53px

        @media tablet-and-down
            grid(1, 30px)
            max-width: 380px
            margin-left: auto;
            margin-right: auto;

    &__fans
        grid(3, 50px)
        margin-top: 50px

        @media tablet-and-down
            grid(2, 50px)

        @media mobile-l-and-down
            grid(1, 50px)

    &__fans-item
        position: relative;

    &__fans-image
        width 100%
        height 200px
        background-size: cover;
        box-shadow: 0 5px 3px -3px alpha(palette("primary"), .3)

    &__fans-winner
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 5px solid palette("primary");

    &__fans-winner-title
        position: absolute;
        bottom: 0
        left: 0
        right: 0
        text-align: center;
        color white
        background-color: palette("primary")
        font-family: DINPro;
        font-size: 16px;
        padding 10px 0
        box-sizing: border-box;

    &__more
        width 150px
        height: 150px
        background-color: #ffffff;
        border: solid 1px alpha(palette("primary"), .7);
        border-radius 150px
        display: block;
        text-align: center;
        margin: 0 auto
        margin-top 50px
        transition: all .3s ease

        img
            display: inline-block;
            margin-top 35px

        span
            display: block;
            font-family: DINPro;
            font-size: 16px;
            color palette("primary")
            text-transform: uppercase;
            max-width: 90px;
            margin: 0 auto;
            margin-top 10px

        &:hover
            border-color: palette("primary")

md-select
    border: 1px solid #f2f2f2;
    border-radius: 27px;
    margin 0

    md-select-value
        border none !important
        padding: 13px 35px 15px 35px !important;
        box-sizing: border-box;
        font-family: DINPro;
        font-size: 20px;
        color black !important

    .md-select-icon
        margin-right: -10px;


md-select-menu
    border-radius: 27px;
    box-shadow: none
    border: 1px solid #f2f2f2
    background-color: white;

    md-content
        background transparent;

        md-option
            font-family: DINPro;
            font-size: 20px;
            color black !important
            padding-left 46px;
            height: 48px;
            box-sizing: border-box;

            &:not([disabled]):focus
                color white !important
                background-color palette("primary") !important


md-datepicker
    border-radius: 27px;
    border: 1px solid #f2f2f2
    position: relative;
    height: 54px;
    display: inline-block;
    width: 100%;

    &.md-datepicker-open
        border-color transparent

    .md-datepicker-input
        font-family: DINPro;
        font-size: 20px;
        color black !important
        padding: 14px 40px !important;
        box-sizing: border-box;
        width: 100%;

        +placeholder()
            color black !important
            font-family: DINPro;
            font-size: 20px;

    .md-datepicker-input-container
        width 100%
        margin 0

.md-calendar-day-header
    // border-top-left-radius: 27px;
    // border-top-right-radius: 27px;
    th
        vertical-align: middle;

// .md-datepicker-input-container
//     border none
//     background-color: transparent !important;

.md-datepicker-triangle-button
    display: none;

.md-datepicker-button
    position: absolute;
    right 15px
    top 50%
    transform: translateY(-50%);
    z-index: 1

.md-datepicker-calendar-pane
    border-radius: 27px;
    overflow: hidden;
    font-family: DINPro;
    font-size: 20px;
    margin-top -27px
    box-shadow: none
    border: 1px solid #f2f2f2;

.md-datepicker-input-mask
    height 54px !important

.md-datepicker-open
    .md-datepicker-calendar-icon
        color palette("primary") !important

.md-calendar-date.md-calendar-date-today
    .md-calendar-date-selection-indicator
        border: 1px solid palette("primary");
        background-color white !important

.md-calendar-date.md-calendar-selected-date
    .md-calendar-date-selection-indicator
        background-color palette("primary") !important

.md-datepicker-input-mask-opaque
    margin-top 27px
