- require('./block.contest.emotion.styl')

.cckhl-contest-emotion
    .cckhl-contest-emotion__container
        .cckhl-contest-emotion__title
            span Фотографии болельщиков
            span #ГДЕЛЕДТАМКОКАКОЛА
        .cckhl-contest-emotion__control
            .grid__col
                ui-select(ng-model='contestEmotionCtrl.filter.city', search-enabled="false",  remove-selected="false", title="Выберите город")
                    ui-select-match(placeholder="Выберите город")
                        span {{ $select.selected.city }}
                    ui-select-choices(repeat='city in contestEmotionCtrl.addressEmotionList')
                        span {{ ::city.city }}
            .grid__col
                md-datepicker.md-no-underline(ng-model='contestEmotionCtrl.filter.date', md-placeholder='Выберите дату', md-min-date="contestEmotionCtrl.minDate" md-max-date="contestEmotionCtrl.maxDate", md-open-on-focus)
        .cckhl-contest-emotion__fans
            .cckhl-contest-emotion__fans-item.grid__col(ng-repeat="emotionPhoto in contestEmotionCtrl.emotionPhotoList")
                .cckhl-contest-emotion__fans-image(
                    ng-style="{'background-image': 'url(' + emotionPhoto.image_link + ')'}"
                )
                .cckhl-contest-emotion__fans-winner(ng-if="emotionPhoto.is_winner")
                    .cckhl-contest-emotion__fans-winner-title Победитель
        a.cckhl-contest-emotion__more(href="", ng-click="contestEmotionCtrl.loadMore()", ng-if="!contestEmotionCtrl.isLast()")
            img(src=require("./images/icons/refresh.png"))
            span Загрузить еще
