- require('./block.video.styl')

.cckhl-video
    .cckhl-video__container
        .cckhl-video__video
            iframe(ng-if="videoCtrl.video", width='560', height='315', ng-src='{{ videoCtrl.video }}', frameborder='0', allowfullscreen='')
