@require '../_common/styles/global'


.cckhl-video
    width 100%
    height 450px
    position: relative;
    background-color: #080b19

    &__container
        container()

    &__video
        position: relative
        padding-bottom: 56.25%
        padding-top: 25px
        height: 450px

        iframe
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
