cckhl-block-cover-main#top(
    contest-type='"Акция"',
    contest-title='"Эмоции трибун"',
    contest-slides='vm.emotionSlides',
    contest-button-rules=require('../../assets/docs/rules_cocacola_stage_emotions.pdf'),
    contest-button-rules-caption='"Правила акции"',
    contest-button='"#emotion-result"',
    contest-button-caption='"Посмотреть работы"',
    contest-cover-image=require('./images/cover-1.jpg'))

cckhl-block-video(video="'https://www.youtube.com/embed/WPCl9PJHIEA'")
cckhl-block-contest-emotion#emotion-result
cckhl-block-cover-main#star(
    contest-type='"Видеоконкурс"',
    contest-title='"Звезда матча"',
    contest-slides='vm.starSlides',
    contest-button-rules=require('../../assets/docs/rules_cocacola_game_star.pdf'),
    contest-button-rules-caption='"Правила конкурса"',
    contest-button='"#star-result"',
    contest-button-caption='"Посмотреть видеоролики"',
    contest-cover-image=require('./images/cover-2.jpg'),
    hide-logo="true")
    
cckhl-block-video(video="'https://www.youtube.com/embed/pTIY2Z7PX1k'")
cckhl-block-contest-star#star-result
cckhl-block-contact#contact
cckhl-block-footer
